function Main.main 2
call TicTacToe.new 0
pop local 0
push local 0
call TicTacToe.UI 1
pop temp 0
push constant 18
call String.new 1
push constant 80
call String.appendChar 2
push constant 108
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 32
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 103
call String.appendChar 2
push constant 97
call String.appendChar 2
push constant 105
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 63
call String.appendChar 2
push constant 40
call String.appendChar 2
push constant 121
call String.appendChar 2
push constant 47
call String.appendChar 2
push constant 110
call String.appendChar 2
push constant 41
call String.appendChar 2
push constant 58
call String.appendChar 2
push constant 32
call String.appendChar 2
call Keyboard.readLine 1
pop local 1
push local 1
push constant 1
call String.new 1
push constant 121
call String.appendChar 2
call Main.strcmp 2
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
call Screen.clearScreen 0
pop temp 0
push constant 0
push constant 0
call Output.moveCursor 2
pop temp 0
push local 0
call TicTacToe.UI 1
pop temp 0
goto IF_END0
label IF_FALSE0
call Sys.halt 0
pop temp 0
label IF_END0
push constant 0
return
function Main.strcmp 3
push argument 0
call String.length 1
push argument 1
call String.length 1
eq
not
if-goto IF_TRUE0
goto IF_FALSE0
label IF_TRUE0
push constant 0
return
label IF_FALSE0
push argument 0
call String.length 1
call Array.new 1
pop local 0
push argument 1
call String.length 1
call Array.new 1
pop local 1
push constant 0
pop local 2
label WHILE_EXP0
push local 2
push argument 0
call String.length 1
lt
not
if-goto WHILE_END0
push local 2
push local 0
add
push argument 0
push local 2
call String.charAt 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 2
push constant 1
add
pop local 2
goto WHILE_EXP0
label WHILE_END0
push constant 0
pop local 2
label WHILE_EXP1
push local 2
push argument 1
call String.length 1
lt
not
if-goto WHILE_END1
push local 2
push local 1
add
push argument 1
push local 2
call String.charAt 2
pop temp 0
pop pointer 1
push temp 0
pop that 0
push local 2
push constant 1
add
pop local 2
goto WHILE_EXP1
label WHILE_END1
push constant 0
pop local 2
label WHILE_EXP2
push local 2
push argument 0
call String.length 1
lt
not
if-goto WHILE_END2
push local 2
push local 0
add
pop pointer 1
push that 0
push local 2
push local 1
add
pop pointer 1
push that 0
eq
not
if-goto IF_TRUE1
goto IF_FALSE1
label IF_TRUE1
push constant 0
return
label IF_FALSE1
push local 2
push constant 1
add
pop local 2
goto WHILE_EXP2
label WHILE_END2
push constant 0
not
return
